<div class="container-fluid">
    <h1>Event messages</h1>
    <hr />

    <div class="panel panel-default" id="messagingPanel">
        <div class="panel-heading">
            <span class="panel-title">
                <a class="collapser" data-toggle="collapse" data-target="#collapseMessagingPanel">
                    Send your message...
                </a>
            </span>
        </div>
        <div id="collapseMessagingPanel" class="panel-collapse collapse">
            <div class="panel-body">
                <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
                    <div class="form-group">
                        <label for="tuser">Your name</label>
                        <input type="text" class="form-control" id="tuser" placeholder="Your name" name="tuser" [(ngModel)]="tuser" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea rows="8" class="form-control" id="message" placeholder="Your message..." name="message" [(ngModel)]="message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!messageForm.valid">Send Message</button>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="messages.length > 0">
        <div class="panel-heading">Messages</div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>From</th>
                                <th>User</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of messages; let i = index">
                                <td class="col-md-1">{{i + 1}}</td>
                                <td class="col-md-1">{{item.sentorreceived}}</td>
                                <td class="col-md-2">{{item.user}}</td>
                                <td class="col-md-9">{{item.message}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="messages.length <= 0">
        <div class="panel-body">
            <span>No messages yet</span>
        </div>
    </div>

</div>